.content{
  display: grid;
  grid-template-columns: 60% 40%; /*colunas do grid(tem 1 dar 100% na soma)*/
  grid-template-rows: 11.4rem 1fr; /*Linhas do grid*/ /*11.4rem é a linha do topo, o fr é para fazer que o valor da tela q sobrar vai ser dividido em 1 fração*/

  grid-template-areas: 
  'header header'
  'left right'; /*nomear as areas do grid*/
}
header{
  grid-area: header; /*após ter nomeado as areas do grid, setar onde o header ficará(que no caso é a area 'header'*/
}

#bg{
  grid-area: left;

  background:url('/assets/home-bg-img.svg') no-repeat top/contain;
}

main{
  grid-area: right;

  display: flex;
  align-items: center;

}

main .container{
  width: min(36.3rem  100%);


}

main h2{
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: clamp(20px, 5vw,2.8rem);
  margin-bottom: 2.4rem;

}

input{
  border: .2rem solid var(--grey-blue);
  padding: 0 1.6rem;
}

input,button,.button{
  width:100%;
  margin-bottom: 1.8rem;
}